<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bubo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03143F981DD56BEB007A6D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03143FA71DD56BEB007A6D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03143FB21DD56BEB007A6D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
